body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

#siralamaSecenekleri {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#siralamaSecenekleri input {
    display: none;
}

#siralamaSecenekleri label {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

#siralamaSecenekleri label:hover {
    background-color: #45a049;
}

#siralamaSecenekleri input:checked + label {
    background-color: #327435;
}

input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: box-shadow 0.3s;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
}

button {
    width: 80%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4caf50;
    color: white;
}

#sonucTablo {
    background-color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#sonucTablo tr {
    animation: fadeIn 0.5s ease-in-out;
}
